* {
  box-sizing: border-box;
}

/* main page containers */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: #000;
  font-family: 'Cairo', sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
}

.app {
  width: calc(100vw - 4rem);
  max-width: 940px;
  margin: 2rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero-wrapper {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), #000),
    url("./space.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
}

.hero {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* App title */

.title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0;
}

/* Menu */

.circle-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border: 3px solid #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 2rem 3rem;
  transform: scale(1);
  transition: 0.4s;
}

.circle-menu:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.hero-options {
  position: absolute;
  top: 0;
  padding: 2rem 0;
  margin-left: -2rem;
  width: 100vw;
  background: #00BFB3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.guest-list {
  font-size: 1.25rem;
  line-height: 3rem;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  font-weight: bold;
  color: #fff;
  display: inline;
  outline: none;
}

.guest-list:hover {
  cursor: pointer;
}

.guest-input {
  color: #fff;
  background: #000;
  font-weight: normal;
  padding: .5rem 1rem;
  margin-left: 1rem;
  font-size: 1.25rem;
  border-radius: 10px;
  font-family: inherit;
  outline: none;
  border: none;
}

input::placeholder {
  color: #fff;
}

input:hover {
  cursor: text;
}

/* guest galaxy */

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transform: scale(1);
  transition: 0.2s;
}

.guest-name {
  font-size: 1rem;
  transform: scale(1);
  transition: 0.2s;
}

.guest {
  transform: scale(1);
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
  margin: 1rem;
}

.guest:hover {
  transform: scale(1.5);
}

.guest-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.side-scroll {
  overflow: auto;
  overflow-y: hidden;
}

/* view toggle  */

.toggle {
  background-color: inherit;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: .5rem 1rem;
  font-family: inherit;
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 1rem 0;
  display: inline;
  outline: none;
  width: 100%;
}

.toggle:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.view {
  width: 100%;
}

/* question component */

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dropdowns {
  width: 100%;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown {
  display: inline;
  font-size: 1.25rem;
  font-family: inherit;
  color: #fff;
  padding: .5rem 1rem;
  margin: 2rem 0;
  border: 1px solid #fff;
  border-radius: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background-color: #000;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="%2300BFB3" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"/></svg>');
  background-repeat: no-repeat, repeat;
  background-position: right .5rem top 50%, 0 0;
  background-size: 1.25rem auto, 100%;
  width: 100%;
}

.dropdown::-ms-expand {
  display: none;
}

.vs {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #00BFB3;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
  width: 100%;
}

.option-select {
  background-color: inherit;
  font-size: 1.25rem;
  font-family: inherit;
  color: #fff;
  border-radius: 10px;
  padding: .5rem 1rem;
  border: 1px solid #fff;
  outline: none;
  margin-bottom: 2rem;
  width: 100%;
}

.option-select:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.space-to-earth, .space-to-space {
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: #000;
  background: #00BFB3;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.compare {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.compare-right, .compare-left {
  padding-top: 1rem;
}

.factor {
  display: block;
  text-align: center;
  font-weight: bold;
}

.factor-number {
  font-size: 2.5rem;
  overflow-wrap: break-word;
}

.on {
  background-color: #fff;
  color: #000;
  border: none;
}

/* media queries */

@media (min-width: 700px) {

  .view, .dropdowns {
    display: flex;
    flex-direction: row;
  }

  #earth-button {
    margin-right: 2rem;
  }

  .dropdowns {
    align-items: center;
  }

  .dropdowns .vs {
    margin: 0 2rem;
  }

  .options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  .option-select {
    margin-bottom: 0;
  }

  .compare {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

}

@media (min-width: 900px) {

  .options {
    grid-template-columns: 1fr 1fr 1fr;
  }

}
